<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GGStudios</title>
  <link rel="stylesheet" href="/styles.css" type="text/css">
</head>

<body>
  <!-- Before the body -->
  {{{body}}}
  <!-- After the body -->
</body>

<footer class="footer">
<p class="followUs">follow us on</p>
  <div class="row">
    <div class="column">
      <a href="https://www.facebook.com/">
        <img src="/images/iconfinder_1_social_2609541.png" alt="faceBook"></a>
    </div>
    <div class="column">
      <a href="https://www.instagram.com/">
        <img src="/images/iconfinder_social_media_applications_3-instagram_4102579.png" alt="instagram"></a>
    </div>
    <div class="column">
      <a href="https://www.twitter.com/">
        <img src="/images/iconfinder_twitter_386736.png" alt="twitter"></a>
    </div>
        <div class="column">
      <a href="https://www.linkedin.com/">
        <img src="/images/iconfinder_social_media_applications_14-linkedin_4102586.png" alt="linkedin">
      </a>
    </div>
  </div>
  <p class="contactInfo">Contact info:<br>email: GGStudios@gmail.com</p>
  <p class="copyright">Ⓒ Copyright 2020<br>All rights reserved</p>
</footer>

</html>