<link rel="stylesheet" href="/styles.css" type="text/css">

{{>menuBar}}

<div class="formDiv">
<label for="signUp" class="formLabel">sign up to our newsletter for updates<br> on upcoming games and apps</label>
<form action="POST" class="newsletterForm">
  <label for="fname" class="formLabel">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname" class="formLabel">Last name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br>
  <label for="email" class="formLabel">Email:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <input type="submit" value="Submit">
</form>
</div>
